.header_outer_container {
    position: sticky;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: red;
    height: 10vh;
    color: white;
    transition: all 0.5s ease-in;
    z-index: 1;
}

.nav_black {
    background-color: rgb(20, 20, 20);
}

.header_container {
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
ul {
    display: flex;
    gap: 20px;
    list-style: none;
    margin: 0;
    padding: 0;
}
